<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css">

  <title>Title</title>
</head>
<body>
<h1>Lista de Autos</h1>
<div class="centrar-imagen">
  <img  src="imagenes/autos.png" alt="" height="50px" width="60px">
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Modelo</th>
        <th>Marca</th>
        <th>Año</th>
        <th>Detalles</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="auto : ${autos}">
        <td th:text="${auto.id}"></td>
        <td th:text="${auto.modelo}"></td>
        <td th:text="${auto.marca}"></td>
        <td th:text="${auto.anio}"></td>


        <td><a th:href="@{/autos/{id}(id=${auto.id})}"><i class="fas fa-eye"></i>Ver detalles</a></td>
        <td>
            <div class="actions">
                <a id="editar" th:href="@{/autos/{id}/editar(id=${auto.id})}"><i class="fas fa-edit"></i> Editar</a>
                <form th:action="@{/autos/{id}/eliminar(id=${auto.id})}" method="POST" style="display: inline;">
                    <button id="eliminar" type="button" onclick="mostrarSweetAlert(event)"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </form>
            </div>
        </td>
    </tr>
</table>
<a href="/ventas/nueva"><i class="fas fa-car"></i> Registrar Venta</a>
<br>
<a id="boton" href="/clientes/nuevo"><i class="fas fa-car"></i>Nuevo Auto</a>

</body>
</html>