<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Auto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css">


</head>
<body>
<h1>Editar Auto</h1>
<form th:object="${auto}" method="POST" action="/autos/guardar">
  <input type="hidden" th:field="*{id}" />
  <label for="modelo">Modelo:</label>
  <div class="input-group">
    <input type="text" th:field="*{modelo}" id="modelo" />
      <span class="input-icon"><i class="fas fa-car"></i></span>
  </div>
    <label for="marca">Marca:</label>
    <div class="input-group">
        <input type="text" th:field="*{marca}" id="marca" />
        <span class="input-icon"><i class="fas fa-industry"></i></span>
    </div>
    <label for="anio">Año:</label>
    <div class="input-group">
        <input type="number" th:field="*{anio}" id="anio" />
        <span class="input-icon"><i class="fas fa-calendar-alt"></i></span>
    </div>

    <button type="submit" onclick="mostrarSweetAlert(event)"><i class="fas fa-save"></i> Actualizar </button>
</form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.js"></script>

<script>
    function mostrarSweetAlert(event) {
        event.preventDefault(); // Evita que el formulario se envíe automáticamente
        // Valida todos los campos requeridos
        var modelo = document.getElementById("modelo").value;
        var marca = document.getElementById("marca").value;
        var anio = document.getElementById("anio").value;

        if (
            modelo.trim() === "" ||
            marca.trim() === "" ||
            anio.trim()===""
        ) {
            // Muestra un SweetAlert de error si algún campo está vacío
            Swal.fire({
                title: "Error",
                text: "Por favor, complete todos los campos.",
                icon: "error",
                confirmButtonText: "Aceptar"
            });
            return; // Detiene el envío del formulario
        }
        Swal.fire({
            title: "¡Actualización Exitosa!",
            text: "Se han Actualizado los campos",
            icon: "success",
            confirmButtonText: "Aceptar"
        }).then((result) => {
            // Si se hace clic en el botón de confirmación, envía el formulario
            if (result.isConfirmed) {
                event.target.form.submit();
            }
        });
    }

</script>


    </body>
</html>