<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Auto</title>
</head>
<body>
<h1>Registrar Auto</h1>

<form action="/autos/nuevo" method="post" th:object="${auto}">
  <!-- Campo oculto para enviar el clienteId -->
  <input type="hidden" th:field="*{cliente.id}" th:value="${cliente.id}" />
  <label><i class="fas fa-car"></i> Modelo:</label>
  <input type="text" th:field="*{modelo} " id="modelo" required><br>

  <label><i class="fas fa-industry"></i> Marca:</label>
  <input type="text" th:field="*{marca}" id="marca" required><br>

  <label><i class="fas fa-calendar-alt"></i> Año:</label>
  <input type="text" th:field="*{anio}" id="anio" required><br>

  <label><i class="fas fa-palette"></i> Color:</label>
  <input type="text" th:field="*{color}" id="color" required><br>

  <label><i class="fas fa-image"></i> Imagen:</label>
  <input type="file" name="imagen" accept="image/*"  id="imagen" required><br>

  <label><i class="fas fa-user"></i> Cliente:</label>
  <input th:field="*{cliente.nombre}" disabled> <br>

  <input type="submit" value="Registrar" onclick="mostrarSweetAlert(event)">
</form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.js"></script>
<script>
  function mostrarSweetAlert(event) {
    event.preventDefault(); // Evita que el formulario se envíe automáticamente

    // Valida todos los campos requeridos
    var modelo = document.getElementById("modelo").value;
    var marca = document.getElementById("marca").value;
    var anio = document.getElementById("anio").value;
    var color = document.getElementById("color").value;
    var imagen = document.getElementById("imagen").value;

    if (
            modelo.trim() === "" ||
            marca.trim() === "" ||
            anio.trim() === "" ||
            color.trim() === "" ||
            imagen.trim() === ""
    ) {
      // Muestra un SweetAlert de error si algún campo está vacío
      Swal.fire({
        title: "Error",
        text: "Por favor, complete todos los campos.",
        icon: "error",
        confirmButtonText: "Aceptar"
      });
      return; // Detiene el envío del formulario
    }
    if (!/^[a-zA-Z]+$/.test(marca)) {
      // Muestra un SweetAlert de error si el campo de marca no contiene solo texto
      Swal.fire({
        title: "Error",
        text: "El campo de marca solo acepta texto.",
        icon: "error",
        confirmButtonText: "Aceptar"
      });
      return; // Detiene el envío del formulario
    } if (!/^[a-zA-Z]+$/.test(color)) {
      // Muestra un SweetAlert de error si el campo de marca no contiene solo texto
      Swal.fire({
        title: "Error",
        text: "El campo de color solo acepta texto.",
        icon: "error",
        confirmButtonText: "Aceptar"
      });
      return; // Detiene el envío del formulario
    }

    if (!/^[\d]+$/.test(anio)) {
      // Muestra un SweetAlert de error si el campo de año no contiene solo números
      Swal.fire({
        title: "Error",
        text: "El campo de año solo acepta números.",
        icon: "error",
        confirmButtonText: "Aceptar"
      });
      return; // Detiene el envío del formulario
    }
    // Muestra el SweetAlert de éxito si la validación pasa
    Swal.fire({
      title: "¡Registro exitoso!",
      text: "El auto ha sido registrado correctamente.",
      icon: "success",
      confirmButtonText: "Aceptar"
    }).then((result) => {
      // Si se hace clic en el botón de confirmación, envía el formulario
      if (result.isConfirmed) {
        event.target.form.submit();
      }
    });
  }
</script>
</body>
</html>