<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    
  </style>
</head>
<body>

<h1>Detalle del Auto</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Año</th>
    <th>Color</th>
  </tr>
  <tr>
    <td th:text="${auto.id}"></td>
    <td th:text="${auto.modelo}"></td>
    <td th:text="${auto.marca}"></td>
    <td th:text="${auto.anio}"></td>
    <td th:text="${auto.color}"></td>

  </tr>
  <a id="boton" href="/autos"><i class="fas fa-car"></i>Regresar</a>

</table>






</body>
</html>