<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Editar Auto</h1>
<form th:object="${auto}" method="POST" action="/autos/guardar">
  <input type="hidden" th:field="*{id}" />
  <label for="modelo">Modelo:</label>
  <div class="input-group">
    <input type="text" th:field="*{modelo}" id="modelo" />
      <span class="input-icon"><i class="fas fa-car"></i></span>
  </div>
    <label for="marca">Marca:</label>
    <div class="input-group">
        <input type="text" th:field="*{marca}" id="marca" />
        <span class="input-icon"><i class="fas fa-industry"></i></span>
    </div>
    <label for="anio">Año:</label>
    <div class="input-group">
        <input type="number" th:field="*{anio}" id="anio" />
        <span class="input-icon"><i class="fas fa-calendar-alt"></i></span>
    </div>

    <button type="submit" onclick="mostrarSweetAlert(event)"><i class="fas fa-save"></i> Actualizar </button>
</form>

</body>
</html>