<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
    }
    h1 {
      text-align: center;
      color: #333;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
  </style>
</head>
<body>

<h1>Detalle del Auto</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Año</th>
    <th>Color</th>
  </tr>
  <tr>
    <td th:text="${auto.id}"></td>
    <td th:text="${auto.modelo}"></td>
    <td th:text="${auto.marca}"></td>
    <td th:text="${auto.anio}"></td>
    <td th:text="${auto.color}"></td>

  </tr>
  <a id="boton" href="/autos"><i class="fas fa-car"></i>Regresar</a>

</table>






</body>
</html>