<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <header>
    <div class="navbar-toggle">
      <span><img src="imagenes/auto.png" width="70px" height="70px"></span>
    </div>
  </header>
    <nav>
        <a href="/clientes/nuevo"><i class="fas fa-user-plus" ></i>Registrar Usuario</a>
        <a href="/"><i class="fas fa-home"></i>Principal</a>
        <a href="/mapa"><i class="fas fa-map"></i>Servicios</a>
        <a href="/contacto"><i class="fas fa-envelope"></i>Contacto</a>
    </nav>
    <div class="content">
        <h1>Bienvenido a la concesionario <span>Santo Domingo</span><br>
            GRAND THEFT AUTO<b></b></h1>
        <p style="text-align: justify" >Grand Theft Auto es una concesionaria excepcional que ha establecido un estándar notable en la industria automotriz. Con su dedicación inquebrantable a la calidad y la excelencia en el servicio al cliente, GRAND THEFT AUTO se ha ganado una reputación envidiable. Su amplio catálogo de vehículos de alta gama y su atención meticulosa a los
            detalles hacen que cada visita a sus instalaciones sea una experiencia inigualable
            .</p>
        <br>
    </div>
</div>
<div class="container_2">

</body>
</html>